In [16]:
import pandas as pd
import numpy as np
m=pd.read_csv('Best Movies Netflix.csv')
#find no of na 
print("__________________")
m["type"]=["Movies" for i in range(len(m.index))]
# m["NUMBER_OF_SEASONS"]=["none" for i in range(len(m.index))]
# df=m
m.insert(loc = len(m.columns)-3,column ="NUMBER_OF_SEASONS",value = [0 for i in range(len(m.index))])
movies_title=list(m.columns)
print(m.isna().sum())

__________________
index                0
TITLE                0
RELEASE_YEAR         0
SCORE                0
NUMBER_OF_VOTES      0
DURATION             0
NUMBER_OF_SEASONS    0
MAIN_GENRE           0
MAIN_PRODUCTION      0
type                 0
dtype: int64

In [17]:

m.head()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,0,documentary,GB,Movies
1,1,Inception,2010,8.8,2268288,148,0,scifi,GB,Movies
2,2,Forrest Gump,1994,8.8,1994599,142,0,drama,US,Movies
3,3,Anbe Sivam,2003,8.7,20595,160,0,comedy,IN,Movies
4,4,Bo Burnham: Inside,2021,8.7,44074,87,0,comedy,US,Movies

In [18]:
m.tail()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
382,382,The Trip,2021,6.9,19706,113,0,comedy,NO,Movies
383,383,The Dirt,2019,6.9,47603,108,0,drama,US,Movies
384,384,Top Gun,1986,6.9,329656,110,0,drama,US,Movies
385,385,Radhe Shyam,2022,6.9,21328,138,0,romance,IN,Movies
386,386,Sorry to Bother You,2018,6.9,75653,111,0,fantasy,US,Movies

In [19]:
import pandas as pd
import numpy as np
x=pd.read_csv('Best Shows Netflix.csv')
#find no of na 
print("__________________")
x["type"]=["Series" for i in range(len(x.index))]
series_title=list(x.columns)
print(x.isna().sum())

__________________
index                0
TITLE                0
RELEASE_YEAR         0
SCORE                0
NUMBER_OF_VOTES      0
DURATION             0
NUMBER_OF_SEASONS    0
MAIN_GENRE           0
MAIN_PRODUCTION      0
type                 0
dtype: int64

In [20]:
x.head()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,Breaking Bad,2008,9.5,1727694,48,5,drama,US,Series
1,1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US,Series
2,2,Our Planet,2019,9.3,41386,50,1,documentary,GB,Series
3,3,Kota Factory,2019,9.3,66985,42,2,drama,IN,Series
4,4,The Last Dance,2020,9.1,108321,50,1,documentary,US,Series

In [21]:
x.tail()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
241,241,Evil Genius,2018,7.5,27516,48,1,crime,US,Series
242,242,13 Reasons Why,2017,7.5,282373,58,4,drama,US,Series
243,243,Lupin,2021,7.5,100575,46,3,crime,FR,Series
244,244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR,Series
245,245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US,Series

In [22]:

if(movies_title==series_title):
    print("yes")
else:
    print("no")
print(movies_title)
print(series_title)

yes
['index', 'TITLE', 'RELEASE_YEAR', 'SCORE', 'NUMBER_OF_VOTES', 'DURATION', 'NUMBER_OF_SEASONS', 'MAIN_GENRE', 'MAIN_PRODUCTION', 'type']
['index', 'TITLE', 'RELEASE_YEAR', 'SCORE', 'NUMBER_OF_VOTES', 'DURATION', 'NUMBER_OF_SEASONS', 'MAIN_GENRE', 'MAIN_PRODUCTION', 'type']

In [23]:
import pandas as pd
print('Dataframes:')
display(m)
display(x)

Dataframes:

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,0,documentary,GB,Movies
1,1,Inception,2010,8.8,2268288,148,0,scifi,GB,Movies
2,2,Forrest Gump,1994,8.8,1994599,142,0,drama,US,Movies
3,3,Anbe Sivam,2003,8.7,20595,160,0,comedy,IN,Movies
4,4,Bo Burnham: Inside,2021,8.7,44074,87,0,comedy,US,Movies
...,...,...,...,...,...,...,...,...,...,...
382,382,The Trip,2021,6.9,19706,113,0,comedy,NO,Movies
383,383,The Dirt,2019,6.9,47603,108,0,drama,US,Movies
384,384,Top Gun,1986,6.9,329656,110,0,drama,US,Movies
385,385,Radhe Shyam,2022,6.9,21328,138,0,romance,IN,Movies
386,386,Sorry to Bother You,2018,6.9,75653,111,0,fantasy,US,Movies

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,Breaking Bad,2008,9.5,1727694,48,5,drama,US,Series
1,1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US,Series
2,2,Our Planet,2019,9.3,41386,50,1,documentary,GB,Series
3,3,Kota Factory,2019,9.3,66985,42,2,drama,IN,Series
4,4,The Last Dance,2020,9.1,108321,50,1,documentary,US,Series
...,...,...,...,...,...,...,...,...,...,...
241,241,Evil Genius,2018,7.5,27516,48,1,crime,US,Series
242,242,13 Reasons Why,2017,7.5,282373,58,4,drama,US,Series
243,243,Lupin,2021,7.5,100575,46,3,crime,FR,Series
244,244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR,Series
245,245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US,Series

In [24]:
# merge two data frames
print('After merging:')
new_dataset=pd.concat([m, x], axis=0)
new_dataset.reset_index(inplace=True)
new_dataset.drop('index',axis=1,inplace=True)
new_dataset

After merging:

,level_0,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,0,documentary,GB,Movies
1,1,Inception,2010,8.8,2268288,148,0,scifi,GB,Movies
2,2,Forrest Gump,1994,8.8,1994599,142,0,drama,US,Movies
3,3,Anbe Sivam,2003,8.7,20595,160,0,comedy,IN,Movies
4,4,Bo Burnham: Inside,2021,8.7,44074,87,0,comedy,US,Movies
...,...,...,...,...,...,...,...,...,...,...
628,241,Evil Genius,2018,7.5,27516,48,1,crime,US,Series
629,242,13 Reasons Why,2017,7.5,282373,58,4,drama,US,Series
630,243,Lupin,2021,7.5,100575,46,3,crime,FR,Series
631,244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR,Series
632,245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US,Series

In [25]:
import pandas as pd
import re
# to resolve utf uploding error
def fn(df, column_name):
    df[column_name] = df[column_name].str.replace(r'[^A-Za-z0-9\s.\'\"\-?s!/@,:#:$%^&*()]', ' ')
    return df

fn(new_dataset,"TITLE")    
new_dataset.head(28)

,level_0,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,type
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,0,documentary,GB,Movies
1,1,Inception,2010,8.8,2268288,148,0,scifi,GB,Movies
2,2,Forrest Gump,1994,8.8,1994599,142,0,drama,US,Movies
3,3,Anbe Sivam,2003,8.7,20595,160,0,comedy,IN,Movies
4,4,Bo Burnham: Inside,2021,8.7,44074,87,0,comedy,US,Movies
5,5,Saving Private Ryan,1998,8.6,1346020,169,0,drama,US,Movies
6,6,Django Unchained,2012,8.4,1472668,165,0,western,US,Movies
7,7,Dangal,2016,8.4,180247,161,0,action,IN,Movies
8,8,Bo Burnham: Make Happy,2016,8.4,14356,60,0,comedy,US,Movies
9,9,Louis C.K.: Hilarious,2010,8.4,11973,84,0,comedy,US,Movies
10,10,Dave Chappelle: Sticks & Stones,2019,8.4,25687,65,0,comedy,US,Movies
11,11,3 Idiots,2009,8.4,385782,170,0,comedy,IN,Movies
12,12,Black Friday,2004,8.4,20611,143,0,crime,IN,Movies
13,13,Super Deluxe,2019,8.4,13680,176,0,thriller,IN,Movies
14,14,Winter on Fire: Ukraine's Fight for Freedom,2015,8.3,17710,98,0,documentary,UA,Movies
15,15,Once Upon a Time in America,1984,8.3,342335,229,0,drama,US,Movies
16,16,Taxi Driver,1976,8.3,795222,113,0,crime,US,Movies
17,17,Like Stars on Earth,2007,8.3,188234,165,0,drama,IN,Movies
18,18,Bo Burnham: What.,2013,8.3,11488,60,0,comedy,US,Movies
19,19,Full Metal Jacket,1987,8.3,723306,116,0,drama,GB,Movies
20,20,Warrior,2011,8.2,463276,140,0,drama,US,Movies
21,21,Drishyam,2015,8.2,79075,163,0,thriller,IN,Movies
22,22,Queen,2014,8.2,64805,146,0,drama,IN,Movies
23,23,Paan Singh Tomar,2012,8.2,35888,135,0,drama,IN,Movies
24,24,Cowspiracy: The Sustainability Secret,2014,8.2,24845,90,0,documentary,US,Movies
25,25,Virunga,2014,8.2,11403,90,0,war,CD,Movies
26,26,PK,2014,8.2,178012,153,0,comedy,IN,Movies
27,27,Bāhubali 2: The Conclusion,2017,8.2,91560,168,0,fantasy,IN,Movies

In [26]:
def check_non_alphanumeric(df, column_name):
    non_alphanumeric_rows = df[df[column_name].str.contains(r'[^A-Za-z0-9]', na=False)]
    for index, value in non_alphanumeric_rows[column_name].items():
        print(f"Index: {index}, Value: {value}")
check_non_alphanumeric(new_dataset,"TITLE")

Index: 0, Value: David Attenborough: A Life on Our Planet
Index: 2, Value: Forrest Gump
Index: 3, Value: Anbe Sivam
Index: 4, Value: Bo Burnham: Inside
Index: 5, Value: Saving Private Ryan
Index: 6, Value: Django Unchained
Index: 8, Value: Bo Burnham: Make Happy
Index: 9, Value: Louis C.K.: Hilarious
Index: 10, Value: Dave Chappelle: Sticks & Stones
Index: 11, Value: 3 Idiots
Index: 12, Value: Black Friday
Index: 13, Value: Super Deluxe
Index: 14, Value: Winter on Fire: Ukraine's Fight for Freedom
Index: 15, Value: Once Upon a Time in America
Index: 16, Value: Taxi Driver
Index: 17, Value: Like Stars on Earth
Index: 18, Value: Bo Burnham: What.
Index: 19, Value: Full Metal Jacket
Index: 23, Value: Paan Singh Tomar
Index: 24, Value: Cowspiracy: The Sustainability Secret
Index: 27, Value: Bāhubali 2: The Conclusion
Index: 28, Value: Monty Python and the Holy Grail
Index: 29, Value: Article 15
Index: 30, Value: Miracle in Cell No. 7
Index: 33, Value: Bill Burr: Paper Tiger
Index: 35, Value: How to Train Your Dragon
Index: 38, Value: Minnal Murali
Index: 39, Value: Rang De Basanti
Index: 42, Value: Hannah Gadsby: Nanette
Index: 43, Value: Barfi!
Index: 45, Value: Zindagi Na Milegi Dobara
Index: 46, Value: A Silent Voice: The Movie
Index: 47, Value: OMG: Oh My God!
Index: 49, Value: Into the Wild
Index: 50, Value: Lagaan: Once Upon a Time in India
Index: 51, Value: My Octopus Teacher
Index: 52, Value: Dil Chahta Hai
Index: 54, Value: The Legend of Bhagat Singh
Index: 55, Value: Stand by Me
Index: 56, Value: The Exorcist
Index: 59, Value: G.O.R.A.
Index: 60, Value: Blood Diamond
Index: 62, Value: Ip Man
Index: 64, Value: The Bourne Ultimatum
Index: 65, Value: Casino Royale
Index: 66, Value: Special 26
Index: 67, Value: Neon Genesis Evangelion: The End of Evangelion
Index: 68, Value: Bāhubali: The Beginning
Index: 69, Value: Ankhon Dekhi
Index: 70, Value: Big Fish
Index: 72, Value: Life of Brian
Index: 73, Value: The Invisible Guest
Index: 74, Value: Dave Chappelle: The Closer
Index: 75, Value: Blade Runner 2049
Index: 76, Value: The Imitation Game
Index: 77, Value: Jab We Met
Index: 78, Value: Free to Play
Index: 79, Value: Monty Python Live at the Hollywood Bowl
Index: 80, Value: Dev.D
Index: 81, Value: Marriage Story
Index: 83, Value: I Am Not Your Negro
Index: 84, Value: Ricky Gervais: Humanity
Index: 85, Value: Secret Superstar
Index: 86, Value: Kal Ho Naa Ho
Index: 87, Value: Pad Man
Index: 88, Value: Shyam Singha Roy
Index: 89, Value: How to Train Your Dragon 2
Index: 90, Value: The Irishman
Index: 92, Value: The Girl with the Dragon Tattoo
Index: 94, Value: The Social Network
Index: 96, Value: Kai Po Che!
Index: 97, Value: The Gentlemen
Index: 98, Value: Marco Polo: One Hundred Eyes
Index: 99, Value: The Hateful Eight
Index: 100, Value: Hunt for the Wilderpeople
Index: 101, Value: The Last Samurai
Index: 103, Value: The Butterfly's Dream
Index: 104, Value: 14 Peaks: Nothing Is Impossible
Index: 106, Value: Udta Punjab
Index: 107, Value: My Fair Lady
Index: 108, Value: System Crasher
Index: 109, Value: The Game Changers
Index: 112, Value: Madras Cafe
Index: 113, Value: Beasts of No Nation
Index: 114, Value: Bonnie and Clyde
Index: 116, Value: Kapoor & Sons
Index: 118, Value: Wind River
Index: 119, Value: Oye Lucky! Lucky Oye!
Index: 120, Value: Dirty Harry
Index: 121, Value: Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton
Index: 122, Value: Berserk: The Golden Age Arc II - The Battle for Doldrey
Index: 123, Value: Silver Linings Playbook
Index: 127, Value: Road to Perdition
Index: 128, Value: The Trial of the Chicago 7
Index: 129, Value: When Harry Met Sally...
Index: 130, Value: Rock On!!
Index: 131, Value: In the Family
Index: 132, Value: Pyaar Ka Punchnama
Index: 133, Value: Midnight in Paris
Index: 134, Value: Donnie Brasco
Index: 135, Value: The Blind Side
Index: 136, Value: Sherlock Holmes
Index: 138, Value: Kuch Kuch Hota Hai
Index: 139, Value: Parmanu: The Story of Pokhran
Index: 141, Value: What Happened, Miss Simone?
Index: 142, Value: Eddie Murphy Raw
Index: 143, Value: Delhi Belly
Index: 144, Value: The Boy Who Harnessed the Wind
Index: 145, Value: Kabhi Haan Kabhi Naa
Index: 146, Value: The Two Popes
Index: 147, Value: The Social Dilemma
Index: 148, Value: Bad Genius
Index: 149, Value: The Mitchells vs. the Machines
Index: 150, Value: Gifted Hands: The Ben Carson Story
Index: 151, Value: Tell Me Who I Am
Index: 154, Value: Athlete A
Index: 155, Value: Lupin the Third: The Castle of Cagliostro
Index: 156, Value: Love Actually
Index: 157, Value: Hell or High Water
Index: 158, Value: Wake Up Sid
Index: 162, Value: I Am Sam
Index: 163, Value: True Grit
Index: 164, Value: The Distinguished Citizen
Index: 165, Value: Jodhaa Akbar
Index: 166, Value: The Conjuring
Index: 168, Value: Bareilly Ki Barfi
Index: 169, Value: Les Misérables
Index: 170, Value: Berserk: The Golden Age Arc I - The Egg of the King
Index: 171, Value: Dil Se..
Index: 173, Value: I Lost My Body
Index: 174, Value: tick, tick... BOOM!
Index: 175, Value: Coming Soon
Index: 176, Value: Nocturnal Animals
Index: 177, Value: A Monster Calls
Index: 178, Value: On Body and Soul
Index: 179, Value: Ala Vaikunthapurramuloo
Index: 180, Value: The Devil's Advocate
Index: 181, Value: Sivaji: The Boss
Index: 182, Value: Happy as Lazzaro
Index: 183, Value: The Guns of Navarone
Index: 184, Value: Who Am I
Index: 185, Value: White Christmas
Index: 186, Value: Ip Man 2
Index: 188, Value: Menace II Society
Index: 189, Value: Hum Aapke Hain Koun..!
Index: 191, Value: Begin Again
Index: 192, Value: Uncut Gems
Index: 193, Value: Sherlock Holmes: A Game of Shadows
Index: 194, Value: Rurouni Kenshin Part I: Origins
Index: 198, Value: Lady Bird
Index: 199, Value: Molly's Game
Index: 200, Value: Raman Raghav 2.0
Index: 201, Value: Once Upon a Time in Mumbaai
Index: 202, Value: Jaane Tu... Ya Jaane Na
Index: 203, Value: Peepli Live
Index: 204, Value: Even the Rain
Index: 205, Value: Darkest Hour
Index: 206, Value: The Bucket List
Index: 207, Value: American Factory
Index: 208, Value: Miss Americana
Index: 209, Value: The Hand of God
Index: 210, Value: A Nightmare on Elm Street
Index: 212, Value: Meenakshi Sundareshwar
Index: 214, Value: Crazy, Stupid, Love.
Index: 217, Value: What the Health
Index: 220, Value: Phantom Thread
Index: 223, Value: Life in a Metro
Index: 224, Value: Kabhi Khushi Kabhie Gham
Index: 226, Value: Girl, Interrupted
Index: 228, Value: Starship Troopers
Index: 229, Value: The Guernsey Literary & Potato Peel Pie Society
Index: 232, Value: The Edge of Seventeen
Index: 233, Value: Pyaar Ka Punchnama 2
Index: 234, Value: The Nightingale
Index: 235, Value: Corpse Bride
Index: 236, Value: Memoirs of a Geisha
Index: 237, Value: El Camino: A Breaking Bad Movie
Index: 238, Value: Official Secrets
Index: 239, Value: Coach Carter
Index: 240, Value: The King
Index: 242, Value: The Best of Enemies
Index: 243, Value: The Professionals
Index: 244, Value: Raat Akeli Hai
Index: 245, Value: Little Women
Index: 246, Value: Badhaai Do
Index: 247, Value: The Conjuring 2
Index: 248, Value: The Fundamentals of Caring
Index: 249, Value: The Ballad of Buster Scruggs
Index: 250, Value: Shot Caller
Index: 251, Value: The Disaster Artist
Index: 252, Value: Blue Jay
Index: 255, Value: No One Killed Jessica
Index: 256, Value: Toilet: A Love Story
Index: 257, Value: Wish Dragon
Index: 259, Value: The Professor and the Madman
Index: 260, Value: Kabir Singh
Index: 261, Value: Dolemite Is My Name
Index: 262, Value: In the Line of Fire
Index: 263, Value: The Witcher: Nightmare of the Wolf
Index: 265, Value: The Tinder Swindler
Index: 266, Value: First They Killed My Father
Index: 267, Value: Don't Look Up
Index: 269, Value: Gabbar Is Back
Index: 271, Value: Steve Jobs
Index: 273, Value: The Butler
Index: 274, Value: The Siege of Jadotville
Index: 276, Value: Private Life
Index: 277, Value: American Murder: The Family Next Door
Index: 278, Value: St. Vincent
Index: 279, Value: A River Runs Through It
Index: 280, Value: The Patriot
Index: 281, Value: Five Feet Apart
Index: 282, Value: Michael Clayton
Index: 283, Value: The Edge of Democracy
Index: 285, Value: Wedding Association
Index: 286, Value: Let Me In
Index: 288, Value: Body of Lies
Index: 289, Value: The Forgotten Battle
Index: 290, Value: Knock Down the House
Index: 291, Value: The Call
Index: 292, Value: Forgetting Sarah Marshall
Index: 293, Value: The Railway Man
Index: 294, Value: The Great Hack
Index: 297, Value: Gantz:O
Index: 298, Value: The Ring
Index: 299, Value: Margin Call
Index: 301, Value: Black Mirror: Bandersnatch
Index: 302, Value: Metallica: Through the Never
Index: 303, Value: Seven Years in Tibet
Index: 305, Value: Kung Fu Panda 3
Index: 306, Value: To All the Boys I've Loved Before
Index: 307, Value: Arthur Christmas
Index: 308, Value: Trailer Park Boys: The Movie
Index: 309, Value: Karthik Calling Karthik
Index: 310, Value: The White Tiger
Index: 311, Value: Shootout at Lokhandwala
Index: 312, Value: The Devil All the Time
Index: 314, Value: The Danish Girl
Index: 315, Value: The Unforgivable
Index: 316, Value: Phir Hera Pheri
Index: 317, Value: War Dogs
Index: 318, Value: The Dig
Index: 320, Value: Luck by Chance
Index: 321, Value: Namastey London
Index: 323, Value: Don 2
Index: 324, Value: Main Hoon Na
Index: 325, Value: Gangubai Kathiawadi
Index: 327, Value: Pieces of a Woman
Index: 330, Value: Harold & Kumar Go to White Castle
Index: 331, Value: Haseen Dillruba
Index: 332, Value: Rose Island
Index: 334, Value: Handsome Devil
Index: 336, Value: Ip Man 3
Index: 337, Value: The Foreigner
Index: 339, Value: Gaga: Five Foot Two
Index: 340, Value: The Christmas Chronicles
Index: 343, Value: Dil Dhadakne Do
Index: 344, Value: Soul Surfer
Index: 345, Value: Happy Gilmore
Index: 346, Value: Den of Thieves
Index: 347, Value: The Zookeeper's Wife
Index: 348, Value: The Platform
Index: 349, Value: Public Enemies
Index: 350, Value: Ip Man 4: The Finale
Index: 351, Value: John Q
Index: 353, Value: Ma Rainey's Black Bottom
Index: 354, Value: Any Given Sunday
Index: 355, Value: The Long Riders
Index: 356, Value: Get on Up
Index: 358, Value: Chup Chup Ke
Index: 359, Value: Then Came You
Index: 360, Value: The Wolf's Call
Index: 361, Value: Cloudy with a Chance of Meatballs
Index: 362, Value: Our Souls at Night
Index: 363, Value: Chandigarh Kare Aashiqui
Index: 365, Value: Everybody Knows
Index: 366, Value: The Meyerowitz Stories (New and Selected)
Index: 367, Value: I Don't Feel at Home in This World Anymore
Index: 368, Value: The Highwaymen
Index: 370, Value: AK vs AK
Index: 371, Value: My Girl
Index: 372, Value: Amanda Knox
Index: 373, Value: 2 States
Index: 374, Value: The Power of the Dog
Index: 375, Value: The Half of It
Index: 376, Value: Outlaw King
Index: 377, Value: Mary Kom
Index: 379, Value: Legend of the Guardians: The Owls of Ga'Hoole
Index: 381, Value: The Night Comes for Us
Index: 382, Value: The Trip
Index: 383, Value: The Dirt
Index: 384, Value: Top Gun
Index: 385, Value: Radhe Shyam
Index: 386, Value: Sorry to Bother You
Index: 387, Value: Breaking Bad
Index: 388, Value: Avatar: The Last Airbender
Index: 389, Value: Our Planet
Index: 390, Value: Kota Factory
Index: 391, Value: The Last Dance
Index: 393, Value: Attack on Titan
Index: 394, Value: Hunter x Hunter
Index: 395, Value: DEATH NOTE
Index: 397, Value: Cowboy Bebop
Index: 399, Value: When They See Us
Index: 400, Value: Monty Python's Flying Circus
Index: 401, Value: BoJack Horseman
Index: 402, Value: Chappelle's Show
Index: 403, Value: Better Call Saul
Index: 405, Value: One Piece
Index: 406, Value: Peaky Blinders
Index: 407, Value: Anne with an E
Index: 409, Value: House of Cards
Index: 410, Value: Demon Slayer: Kimetsu no Yaiba
Index: 411, Value: Stranger Things
Index: 412, Value: One-Punch Man
Index: 413, Value: The Crown
Index: 414, Value: Arrested Development
Index: 415, Value: Friday Night Lights
Index: 416, Value: Downton Abbey
Index: 417, Value: Code Geass: Lelouch of the Rebellion
Index: 418, Value: Trailer Park Boys
Index: 420, Value: The Haunting of Hill House
Index: 421, Value: The Queen's Gambit
Index: 422, Value: Cobra Kai
Index: 424, Value: It's Okay to Not Be Okay
Index: 425, Value: Making a Murderer
Index: 427, Value: Sacred Games
Index: 428, Value: Formula 1: Drive to Survive
Index: 429, Value: Queer Eye
Index: 431, Value: The Last Kingdom
Index: 432, Value: Schitt's Creek
Index: 433, Value: Neon Genesis Evangelion
Index: 434, Value: Call the Midwife
Index: 435, Value: The IT Crowd
Index: 439, Value: Delhi Crime
Index: 440, Value: After Life
Index: 443, Value: Ash vs Evil Dead
Index: 446, Value: The Promised Neverland
Index: 447, Value: Derry Girls
Index: 449, Value: Trollhunters: Tales of Arcadia
Index: 451, Value: The Legend of Korra
Index: 452, Value: The Dark Crystal: Age of Resistance
Index: 454, Value: Top Boy
Index: 455, Value: Babylon Berlin
Index: 456, Value: Stargate SG-1
Index: 457, Value: Violet Evergarden
Index: 458, Value: Narcos: Mexico
Index: 459, Value: The Dragon Prince
Index: 461, Value: Car Masters: Rust to Riches
Index: 463, Value: The Originals
Index: 465, Value: Sex Education
Index: 467, Value: Money Heist
Index: 468, Value: Young Royals
Index: 470, Value: Gurren Lagann
Index: 471, Value: 30 Rock
Index: 473, Value: Kim's Convenience
Index: 474, Value: Master of None
Index: 476, Value: Call My Agent!
Index: 477, Value: The Get Down
Index: 479, Value: One Day at a Time
Index: 480, Value: The Kominsky Method
Index: 481, Value: Itaewon Class
Index: 482, Value: The Good Place
Index: 483, Value: Grace and Frankie
Index: 484, Value: The Witcher
Index: 485, Value: Locked Up
Index: 486, Value: Gilmore Girls
Index: 488, Value: Fate/Zero
Index: 489, Value: The Walking Dead
Index: 490, Value: anohana: The Flower We Saw That Day
Index: 491, Value: The Trials of Gabriel Fernandez
Index: 492, Value: How to Get Away with Murder
Index: 494, Value: Rascal Does Not Dream of Bunny Girl Senpai
Index: 495, Value: Wild Wild Country
Index: 497, Value: American Vandal
Index: 498, Value: The End of the F***ing World
Index: 500, Value: Criminal Minds
Index: 501, Value: HAPPY!
Index: 502, Value: Orange Is the New Black
Index: 503, Value: Star Trek: Deep Space Nine
Index: 506, Value: F is for Family
Index: 507, Value: Don't F**k with Cats: Hunting an Internet Killer
Index: 509, Value: The Umbrella Academy
Index: 510, Value: Tabula Rasa
Index: 511, Value: Dead to Me
Index: 512, Value: The Mechanism
Index: 513, Value: Squid Game
Index: 514, Value: Toradora!
Index: 515, Value: Comedians in Cars Getting Coffee
Index: 516, Value: Marco Polo
Index: 518, Value: The Blacklist
Index: 520, Value: Inside Bill's Brain: Decoding Bill Gates
Index: 521, Value: On My Block
Index: 522, Value: Medici: Masters of Florence
Index: 523, Value: The Seven Deadly Sins
Index: 524, Value: Queen of the South
Index: 525, Value: KILL la KILL
Index: 527, Value: Into the Badlands
Index: 530, Value: Altered Carbon
Index: 531, Value: The OA
Index: 532, Value: Resurrection: Ertugrul
Index: 533, Value: The Borgias
Index: 535, Value: Boys Over Flowers
Index: 536, Value: I Think You Should Leave with Tim Robinson
Index: 537, Value: Suburra: Blood on Rome
Index: 538, Value: The Sinner
Index: 539, Value: The Spy
Index: 540, Value: Santa Clarita Diet
Index: 541, Value: How to Sell Drugs Online (Fast)
Index: 542, Value: Rise of Empires: Ottoman
Index: 543, Value: Big Mouth
Index: 545, Value: She-Ra and the Princesses of Power
Index: 546, Value: A Series of Unfortunate Events
Index: 548, Value: Workin' Moms
Index: 549, Value: Russian Doll
Index: 550, Value: Sweet Tooth
Index: 553, Value: Conversations with a Killer: The Ted Bundy Tapes
Index: 554, Value: Never Have I Ever
Index: 555, Value: My Name
Index: 556, Value: Happy Endings
Index: 557, Value: Crazy Ex-Girlfriend
Index: 558, Value: El Chapo
Index: 560, Value: Jane the Virgin
Index: 562, Value: DOTA: Dragon's Blood
Index: 563, Value: The Innocent
Index: 564, Value: The Staircase
Index: 565, Value: Giri/Haji
Index: 566, Value: Angel Beats!
Index: 568, Value: In the Dark
Index: 569, Value: Midnight Mass
Index: 570, Value: The Vampire Diaries
Index: 571, Value: Alias Grace
Index: 574, Value: Good Girls
Index: 575, Value: Seven Seconds
Index: 576, Value: The Chestnut Man
Index: 579, Value: New Girl
Index: 580, Value: Miraculous: Tales of Ladybug & Cat Noir
Index: 581, Value: Home for Christmas
Index: 582, Value: Inside Job
Index: 583, Value: The Serpent
Index: 584, Value: Alice in Borderland
Index: 585, Value: Spinning Out
Index: 587, Value: Teenage Bounty Hunters
Index: 588, Value: Shadow and Bone
Index: 589, Value: The Devil Next Door
Index: 590, Value: My Little Pony: Friendship Is Magic
Index: 591, Value: The Magicians
Index: 593, Value: Unbreakable Kimmy Schmidt
Index: 594, Value: Chicago Med
Index: 595, Value: The 100
Index: 596, Value: The Flash
Index: 597, Value: Cable Girls
Index: 598, Value: Criminal: UK
Index: 599, Value: Devilman Crybaby
Index: 600, Value: Madam Secretary
Index: 601, Value: Sword Art Online
Index: 602, Value: Gilmore Girls: A Year in the Life
Index: 603, Value: Dead Set
Index: 604, Value: Grey's Anatomy
Index: 606, Value: Love 101
Index: 609, Value: Blue Exorcist
Index: 610, Value: Outer Banks
Index: 613, Value: The Night Shift
Index: 614, Value: The Heirs
Index: 615, Value: The Politician
Index: 617, Value: Everything Sucks!
Index: 619, Value: Dark Matter
Index: 620, Value: Night Stalker: The Hunt for a Serial Killer
Index: 621, Value: Dash & Lily
Index: 622, Value: True Story
Index: 624, Value: Designated Survivor
Index: 626, Value: Feel Good
Index: 627, Value: Dogs of Berlin
Index: 628, Value: Evil Genius
Index: 629, Value: 13 Reasons Why
Index: 631, Value: All of Us Are Dead
Index: 632, Value: I Am Not Okay with This

In [27]:

translationTable = str.maketrans('éàèâôûçā', 'eaeaouca')
new_dataset["TITLE"] = new_dataset["TITLE"].apply(lambda x: x.translate(translationTable))

In [28]:
def check_non_alphanumeric(df, column_name):
    non_alphanumeric_rows = df[df[column_name].str.contains(r'[^A-Za-z0-9\s.\'\"\-?s!/@,#:$%^&*()]', na=False)]
    for index, value in non_alphanumeric_rows[column_name].items():
        print(f"Index: {index}, Value: {value}")
check_non_alphanumeric(new_dataset,"TITLE")

In [29]:
#dealing with tableau maps
import pandas as pd
country_mapping = {
    'AR': 'Argentina',
    'AU': 'Australia',
    'BE': 'Belgium',
    'BR': 'Brazil',
    'CA': 'Canada',
    'CD': 'Democratic Republic of the Congo',
    'CN': 'China',
    'DE': 'Germany',
    'DK': 'Denmark',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'GB': 'United Kingdom',
    'HK': 'Hong Kong',
    'HU': 'Hungary',
    'ID': 'Indonesia',
    'IE': 'Ireland',
    'IL': 'Israel',
    'IN': 'India',
    'IT': 'Italy',
    'JP': 'Japan',
    'KR': 'South Korea',
    'MX': 'Mexico',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'NZ': 'New Zealand',
    'PH': 'Philippines',
    'PL': 'Poland',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SG': 'Singapore',
    'US': 'United States',
    'ZA': 'South Africa',
    'MX' : 'Mexico',
    'TW' : 'Taiwan',
    'TH' : 'Thailand',
    'TR' : 'Turkey',
    'GR' : 'Greece',
    'RO' : 'Romania',
    'MW': 'Malawi',
    'UA': 'Ukraine',
    'PS': 'Palestine',
    'LT': 'Lithuania',
    'KH': 'Cambodia',

    # Add more country code mappings as needed
}

# Replace country codes with full names
new_dataset['Country'] = new_dataset['MAIN_PRODUCTION'].replace(country_mapping)

In [30]:
#save to csv
new_dataset.drop('level_0',axis=1,inplace=True)
new_dataset.index.name='Index'
new_dataset.to_csv('netflix_cleaned.csv',index=True)
new_dataset
new_dataset["NUMBER_OF_SEASONS"].to_csv('nx.csv',index=True)